body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.card{
    background: linear-gradient(180deg,  #7aeff3b7, #f3ba6fdc);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 7%;
    max-width: 400px;
    margin: 20px auto;
}

.search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input{
    flex: 1;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 2%;
    font-size: 25px;
}

.search button{
    background-color: #fcfcfc;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 3%;
    cursor: pointer;
    margin: 2%;
}


.weatherinfo{
    text-align: center;
    padding: 2%;
    display: none; /* Initially hidden */
}

.weatherinfo img{
    width: 170px;
    margin: 2%;

}


.details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
}

.col{
    flex: 1;
    text-align: center;
    margin: 3%;
}

.col img{
    width: 50px;
}
form{
    display: flex;
}
.funQuotes{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    padding: 10px;

}
.funQuotes p{
    font-style: italic;
    color: #555;
}